.mypage-main
  .mypage-main__profile
  %h2.mypage-main__profile__header
    プロフィール
  = form_with model: @user, class: 'profile-edit__form' do |f|
    // アイコンと名前入力欄
    .mypage-main__profile__icon
      = image_tag "member_photo_noimage_thumb.png", class: "mypage-main__profile__icon__image"
      = f.text_field :name, class: "mypage-main__profile__icon__input",:placeholder => "例）AYA☆セール中"
    .mypage-main__profile__contents
      %textarea.mypage-main__profile__contents__text{:name => "introduction", :placeholder => "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
        プロフィールをご覧いただきありがとうございます。
      = f.submit "変更する", class: "mypage-main__profile__contents__button"