.mypage-main__header
  .mypage-main__header__user
    = image_tag "user-icon.png", size: "60x60", class: "mypage-main__header__user__icon"
    %h2.mypage-main__header__user__name
      = @nickname
    .mypage-main__header__user__caption
      出品数
      %span.mypage-main__header__user__caption__sell__number
        = @item.length