.header
  .header__box
    .header__box__top
      %h1.header__box__top__log
        = link_to "#" do
          .header__box__top__logo__link
      %form.header__box__top__search
        %input.header__box__top__search__box{type:"search",name:"keyword",placeholder:"何かお探しですか"}
        %i.header__box__top__search__box__icon.fa.fa-search
    .header__box__nav
      .header__box__nav__left
        %ul.header__box__nav__left__contents
          %li.header__box__nav__left__contents__list
            %h2.header__box__nav__left__contents__list__heading
            =  link_to "#" do
              .header__box__nav__left__contents__list__heading__link
                %i.header__box__nav__left__contents__list__heading__link__icon.fa.fa-list-ul
                %span.header__box__nav__left__contents__list__heading__link__text カテゴリーから探す
          %li.header__box__nav__left__contents__list
            %h2.header__box__nav__left__contents__list__heading
              = link_to "#" do
                .header__box__nav__left__contents__list__heading__link
                  %i.header__box__nav__left__contents__list__heading__link__icon.fa.fa-tag
                  %span.header__box__nav__left__contents__list__heading__link__text ブランドから探す
      .header__box__nav__right
        %ul.header__box__nav__right__contents
          %li.header__box__nav__right__contents__list
            =link_to "#" do
              .header__box__nav__right__contents__list__link
                %i.header__box__nav__right__contents__list__link__icon.fas.fa-bell
                %span.header__box__nav__right__contents__list__link__text お知らせ
          %li.header__box__nav__right__contents__list
            =link_to "#" do
              .header__box__nav__right__contents__list__link
                %i.header__box__nav__right__contents__list__link__icon.fas.fa-check
                %span.header__box__nav__right__contents__list__link__text やることリスト
          %li.header__box__nav__right__contents__list
            =link_to "#" do
              .header__box__nav__right__contents__list__link
                .header__box__nav__right__contents__list__link__figure
                  .header__box__nav__right__contents__list__link__figure__image
                  %span.header__box__nav__right__contents__list__link__figure__text マイページ