/*-- カテゴリーリストのポジション決め用ブロック --*/
.category-list-position {
  position: absolute;
}

/*-- カテゴリーリスト --*/
.category {
  display: none;
  position: relative;
  z-index: 1111;
}

// 親リスト本体
.category-list-parent {
  background: $white;
  top: 0;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
  display: block;
}

// 親リストの項目
.category-list-parent-item {
  width: 224px;
  max-height: 44px;
  padding: 15px 16px;
  line-height: 14px;
  font-size: 14px;
  display: -webkit-box; // box要素にする
  -webkit-box-align: center; // 縦位置中央
}

// 親リスト マウス乗せたとき
.category-list-parent-item:hover {
  background: $red3;
  color: $white;
}

// 子供リスト本体
.category-list-child {
  display: none;
  position: absolute;
  top: 0;
  left: 224px;
  width: 224px;
  font-size: 14px;
  line-height: 14px;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
  color: #333333;
  height: 100%;
}

// 子供リストの項目
.category-list-child-item {
  max-height: 30px;
  padding: 8px 16px;
  &:hover {
    background: #ebebeb;
    color: #333333;
  }
}

// 子供リスト マウス乗せたとき
.category-list-child-item:hover {
  background: #ebebeb;
  color: #333;
}

// 孫リスト本体
.category-list-grand-child {
  display: none;
  position: absolute;
  top: 0;
  left: 224px;
  width: 320px;
  min-height: 100%;
  font-size: 14px;
  line-height: 14px;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
  color: #333333;
}

// 孫リストの項目
.category-list-grand-child-item {
  max-height: 30px;
  padding: 8px 16px;
  background: $white;
  &:hover {
    background: #ebebeb;
    color: #333333;
  }
}

// 孫リスト マウス乗せたとき
.category-list-grand-child-item:hover {
  background: #ebebeb;
  color: #333;
}

/*-- 今マウスが乗っているブロック判別用 --*/
.active-list {
  display: block;
}
