.logout-main {
  @include box(700px, 179px);
  background-color: $white;
  padding: 64px;
  &__registration-btn {
    @include box(343px, 50px);
    background-color: $red;
    text-align: center;
    line-height: 50px;
    margin: 0px auto;
    p {
      color: $white;
    }
  }
}
