.footer {
  padding: 0 20px 10px 20px;
  background: #212121;
  display: block;
  &__content {
    width: 1000px;
    margin: auto;
    &__box {
      padding: 0 10px;
      margin-top: 18px;
      vertical-align: top;
      height: 300px;
      display: inline-block;
      &__head {
        color: $white;
        font-size: 15px;
        font-weight: bold;
      }
      &__subhead {
        list-style: none;
        &__list {
          margin: 16px 0 0;
          opacity: 0.7;
          color: $white;
          font-size: 12px;
          line-height: 1.5em;
          &:hover {
            text-decoration: underline;
          }
        }
        &__icon {
          color: $white;
          margin: 30px 10px;
          font-size: 2em;
        }
        &__left {
          vertical-align: top;
          width: 50%;
          float: left;
          white-space: normal;
          &__list {
            margin: 16px 0 0;
            opacity: 0.7;
            color: $white;
            font-size: 12px;
            line-height: 1.5em;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &__right {
          vertical-align: top;
          width: 50%;
          float: left;
          white-space: normal;
          &__list {
            margin: 16px 0 0;
            opacity: 0.7;
            color: #fff;
            font-size: 12px;
            line-height: 1.5;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    &__bottom {
      margin: 30px auto 20px;
      &__icon {
        @include box(120px, 30px);
        display: inline-block;
        background-image: image-url("mercari-logo_white.png");
        margin-right: 30%;
        color: $white;
        background-position: center;
        background-size: cover;
      }
      &__copy-right {
        color: $white;
        display: inline-block;
        margin: 8px 0 0;
        text-align: center;
        vertical-align: sub;
        small {
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
  .sell-btn {
    @include box(160px, 160px);
    bottom: 32px;
    right: 32px;
    font-size: 22px;
    position: fixed;
    border-radius: 50%;
    background-color: $red;
    color: $white;
    text-align: center;
    &__text {
      margin: 14px 0 0;
    }
    &__icon {
      font-size: 80px;
    }
  }
}
