.header {
  @include box(100%, 100px);
  position: relative;
  background-color: $white;
  &__box {
    @include box(1020px, "");
    margin: 0 auto;
    padding: 8px 0 0;
    background-color: $white;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__logo {
        display: block;
        color: $dark-gray;
        &__link {
          @include box(134px, 36px);
          background-image: image-url("mercari-logo.png");
          background-position: center;
          background-size: cover;
          z-index: 10;
          &__image {
            vertical-align: middle;
          }
        }
      }
      &__search {
        @include box(100%, "");
        position: relative;
        margin-left: 45px;
        &__box {
          @include box(100%, 40px);
          background: $light-gray;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          line-height: 1.5;
          font-size: 16px;
          &__icon {
            @include box(40px, 40px);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            cursor: pointer;
            color: #272121;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &__nav {
      @include box("", 32px);
      margin: 8px 0 0;
      &__left {
        float: left;
        line-height: 32px;
        display: block;
        &__contents {
          list-style: none;
          &__list {
            padding-left: 0;
            position: relative;
            display: inline-block;
            padding: 0 11px;
            cursor: pointer;
            &__heading {
              font-size: 14px;
              font-weight: 400;
              &__link {
                @include box("", 32px);
                text-decoration: none;
                position: relative;
                line-height: 32px;
                &__icon {
                  color: $red;
                  font-size: 12px;
                  margin-right: 4px;
                  font-size: 1em;
                }
                &__text {
                  font-weight: bold;
                  font-size: 14px;
                  color: $dark-gray;
                  &:hover {
                    color: $light-blue;
                  }
                }
              }
            }
          }
        }
      }
      &__right {
        float: right;
        line-height: 32px;
        display: block;
        &__contents {
          @extend .header__box__nav__left__contents;
          &__list {
            position: relative;
            display: inline-block;
            cursor: pointer;
            padding: 0 14px;
            &__link {
              @include box("", 32px);
              position: relative;
              display: block;
              line-height: 32px;
              font-size: 0;
              color: $dark-gray;
              &__icon {
                color: $light-gray4;
                font-size: 20px;
                margin-right: 4px;
                display: inline-block;
              }
              &__text {
                margin-left: 10px;
                font-size: 14px;
                line-height: 32px;
                &:hover {
                  color: $light-blue;
                }
              }
              &__figure {
                display: inline-block;
                margin: 0;
                padding: 0;
                &__image {
                  @include box(30px, 30px);
                  border-radius: 50%;
                  vertical-align: center;
                  display: inline-block;
                  background-image: image-url("member_photo_noimage_thumb.png");
                  background-position: center;
                  background-size: cover;
                }
                &__text {
                  @extend .header__box__nav__right__contents__list__link__text;
                  vertical-align: center;
                  &:hover {
                    @extend .header__box__nav__right__contents__list__link__text:hover;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
