// アイテムリンクカード
.item-link-card {
  @include box(220px, 330px);
  margin-right: 20px;
  margin-top: 20px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  &__link {
    text-decoration: none;
  }
  &--image {
    @include box(220px, 220px);
    position: relative;
    &__sold-mark {
      position: absolute;
      width: 220px;
      height: 24px;
      background-color: red;
      color: $white;
      text-align: center;
      z-index: 1;
    }
  }
  &__text-box {
    @include box(220px, 110px);
    padding: 16px;
    background-color: $white;
    font-size: 16px;
    &--name {
      @include box(188px, 48px);
    }
    &__bottom {
      @include box(188px, 17px);
      margin-top: 8px;
      font-size: 14px;
      &--price {
        float: left;
        font-weight: bold;
      }
      &--like {
        float: right;
      }
    }
  }
}

.item-photo-size {
  @extend .item-link-card--image;
}

.item-link-card__text-box--name h3 {
  float: left;
}
