.mm-header {
  background: #fff;
  width: 100vw;
  height: 100px;
}

.mm-header2 {
  background: #fff;
  width: 100vw;
  height: 49px;
  border-bottom: 1px solid #000;
}

.mm-footer {
  background: #fff;
  width: 100vw;
  height: 260px;
}

.mm-footer2 {
  background: #fff;
  width: 100vw;
  height: 391px;
}

/* --------------- 後で消す -----------------*/
