body {
  background: $light-gray;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
    メイリオ, Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

.mypage {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

/*-- メニューリストのアクティブ --*/
/*-- アクティブの中のアイコン --*/
.active,
.mypage-menu__nav__list__item.active > .fa-chevron-right {
  color: $dark-gray;
  background: $light-gray3;
  font-weight: bold;
  &:hover {
    background: $light-gray3;
  }
}
