.mypage-main__body {
  height: auto;
  // お知らせとやることリストを内包するブロック
  &__tabs {
    font-size: 0; // インラインブロックの隙間をなくす
    background: #eee;
    // ひとつひとつのタブ
    // リセットcssに優先度で負けてしまうので、h3も指定する
    &__tab,
    &__tab h3 {
      @include box(350px, "");
      display: inline-block;
      font-size: 16px;
      text-align: center;
      line-height: 74px;
      font-weight: bold !important;
      // アクティブになっている方のタブ
      &__active {
        background: white;
        border-top: 2px solid red;
        line-height: 72px;
      }
    }
  }
  // お知らせ やることない場合
  &__nothing {
    @include box(100%, auto);
    background: white;
    // 取引がない場合
    &__contents {
      @include box("", 236px);
      background-image: url("logo-gray-icon.svg");
      background-repeat: no-repeat;
      padding-top: 160px;
      padding-bottom: 60px;
      background-position: 50% 40px;
      background-size: 78px 85px;
      color: #ccc;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }

  // お知らせ
  &__items {
    background: white;
    font-size: 14px;
    &__item {
      padding: 16px;
      border-bottom: solid 1px #eee;
      /* -- メニューにマウス乗せたとき -- */
      &:hover {
        background: #fafafa;
      }
      &__body {
        display: flex;
        position: relative;
        &__image {
          @include box(48px, 48px);
          margin: 0;
        }
        &__text {
          margin-left: 20px;
          margin-right: 40px;
          &__time {
            font-size: 16px;
            color: #888;
            margin-right: 8px;
            &__num {
              font-size: 14px;
            }
          }
        }
        &__icon {
          position: absolute;
          top: 20px;
          right: 0;
          font-size: 16px;
        }
      }
      &__more {
        @include box(100%, 56px);
        background: #eee;
        display: block;
        line-height: 56px;
        text-align: center;
        &:hover {
          background: #fafafa;
        }
      }
    }
    &__item:last-child {
      border: 0;
      &:hover {
        background: white;
      }
    }
  }
}
