/*-- マイページ全体の枠 --*/
.mypage {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

/*-- マイページ右側の大枠 --*/
.mypage-main {
  @include box(700px, auto);
  padding-bottom: 40px;
}
