.mypage-main__footer {
  color: $dark-gray;
  background: white;
  @include box(100%, auto);
  margin-top: 40px;
  &__head {
    @include box("", 72px);
    line-height: 72px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-weight: 600;
  }
  // お知らせとやることリストを内包するブロック
  &__tabs {
    @extend .mypage-main__body__tabs;
    // ひとつひとつのタブ
    &__tab,
    &__tab h3 {
      @extend .mypage-main__body__tabs__tab;
      // アクティブになっている方のタブ
      &__active {
        @extend .mypage-main__body__tabs__tab__active;
      }
    }
  }
  &__contents {
    @include box(100%, auto);
    // 取引がない場合
    &__nothing {
      display: none;
      @extend .mypage-main__body__nothing__contents;
    }
    // 取引がある場合
    &__old {
      //display: none;
      @include box("", auto);
      font-size: 14px;
      // お知らせ
      &__items {
        @extend .mypage-main__body__items;
        &__item {
          @extend .mypage-main__body__items__item;
          /* -- メニューにマウス乗せたとき -- */
          &:hover {
            background: $light-gray5;
          }
          &__body {
            @extend .mypage-main__body__items__item__body;
            &__image {
              @extend .mypage-main__body__items__item__body__image;
            }
            &__text {
              @extend .mypage-main__body__items__item__body__text;
              /* 取引完了 */
              &__complete {
                display: inline-block;
                background: $gray;
                color: $white;
                line-height: 12px;
                font-size: 12px;
                margin-top: 8px;
                // リセットcssに負けてしまうので、paddingを個別に指定
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 6px;
                padding-right: 6px;
                //
                font-weight: bold;
                text-align: center;
                border-radius: 2px;
              }
            }
            /* >のアイコン */
            &__icon {
              position: absolute;
              top: 20px;
              right: 0;
              font-size: 16px;
            }
          }
          &__more {
            @extend .mypage-main__body__items__item__more;
          }
        }
      }
    }
    &__item:last-child {
      border: 0;
    }
  }
}
