.mypage-main__header {
  @include box(100%, 200px);
  background-image: image-url("mypage-bg.jpg");
  padding: 20px;
  position: relative;
  /*-- ヘッダーのユーザーアイコン --*/
  &__user {
    @include box(100%, 111px);
    color: $dark-gray;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    /*-- 丸い画像 --*/
    &__icon {
      display: block;
      margin: auto;
      border-radius: 50%;
    }
    /*-- ユーザー名 --*/
    &__name {
      font-weight: bold;
      text-align: center;
      font-size: 14px;
      margin-top: 8px;
    }
    /*-- ユーザー説明 --*/
    &__caption {
      @include box("", 16px);
      margin-top: 8px;
      display: flex;
      font-size: 14px;
      justify-content: center;
      margin-top: 8px;
      /*-- 評価 --*/
      &__rating__number {
        margin-left: 8px;
        font-size: 16px;
        font-weight: bold;
      }
      /*-- 出品数 --*/
      &__sell {
        margin-left: 16px;
        &__number {
          @extend .mypage-main__header__user__caption__rating__number;
        }
      }
    }
  }
}
