/*-- パンくずリスト --*/
.pankuzu-box {
  @include box(100%, "");
  background: $white;
  border-top: 1px solid $light-gray3;
  box-shadow: 2px 2px 4px $shadow-color;
  font-size: 14px;
  /*-- パンくずリスト本体 --*/
  &__contents {
    @include box(1020px, "");
    margin: 0 auto;
    padding: 16px 0;
    a {
      color: $dark-gray;
      &:hover {
        text-decoration: underline;
      }
    }
    /*-- 今いるページ --*/
    .current {
      font-weight: bold;
    }
  }
}
