.pankuzu-box{
  width: 1680px;
  height: 49px;
  background: $white;
  border-top: 1px solid $light-gray3;
  box-shadow: 2px 2px 4px $shadow-color;
  padding-left: 330px;
  line-height: 48px;

  .breadcrumbs-list{
    line-height: 48px;
    font-weight: bold;
    font-size: 15px;
  }
}
