.search-left {
  height: 100%;
  width: 280px;
  margin-right: 40px;
  &__order {
    width: 280px !important;
    padding: 0 16px !important;
    border: 1px solid #ccc !important;
  }
  &__contents {
    width: 100%;
    height: auto;
    padding: 16px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 14px;
    background: $white;
    &--title {
      color: #333;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
    }
    &__form-group {
      margin-top: 24px;
      &--icon  {
        color: #888;
        font-size: 20px;
        height: 16px;
      }
      &--text-add-keyword {
        font-size: 14px;
        font-weight: 600;
        vertical-align: middle;
      }
      &--input-text {
        padding: 10px 16px 8px 16px;
        width: 100%;
        margin-top: 8px;
        border-radius: 4px;
        font-weight: 400;
        height: 48px;
        border: 1px solid #ccc;
      }
    }
  }
}
