
.sign_up{
  width: 100%;
  color: red;
  


  .header{
    width: 100%;
    height: 128px;
    color: red;
    padding: 0 auto;
    background-color: #f5f5f5;
    
  }

  .contents{
    background-color: #f5f5f5;
    height: 344px;

    .frame{
    padding: 0 auto;
    width: 700px;
    background-color: white;
    margin: 0 auto;

    
      .top_content{
        height: 65px;
        background-color: white;

      }


        h2 {
          color: red;
          text-align: center;
          line-height:65px;
        }
      
      .bottom_contents{
      
        margin: 24 16 40;

      
        .bottom_frame{


          .field-top{
            width: 100%;
            text-align: center;
            margin: 16 auto 0;
            height: 65px;
            background-color:mediumslateblue;
            

          }
          
          .field-middle{
            width: 100%;
            text-align: center;
            margin: 16 auto 0;
            height: 65px;
            background-color:royalblue;
            

          }

          .field-bottom{
            width: 100%;
            text-align: center;
            margin: 16 auto 0;
            height: 65px;
            background-color:greenyellow;
            

          }
        }
      }
    }

  }

  .footer{
    width: 100%;
    height: 357px;
    background-color: red;
    padding: 0 auto;
    // background-color: #f5f5f5;
    
  }
}