.sign-in {
  &__header {
    @include box(100%, 128px);
    padding: 0 auto;
    font-size: 22px;
  }
  &__contents {
    background-color: $light-gray;
    width: 100%;
    &__frame {
      @include box(456px, 100%);
      background-color: $white;
      margin: 0 auto;
      &__top_contents {
        height: 144px;
        position: relative;
        &__top_frame {
          @include box(456px, 64px);
          padding: 40 64;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
        p {
          font-size: 13px;
          text-align: center;
          margin-bottom: 8px;
        }
        .registration_btn {
          @include box(326px, 45px);
          margin: 0 auto;
          background-color: $light-blue;
          h3 {
            text-align: center;
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            color: $white;
          }
        }
      }
      &__middle_contents {
        @include box(456px, 181px);
        padding: 32px 64px;
        border-top: 1px solid $light-gray;
        &__middle_frame {
          width: 328px;
          margin: 0 auto;
          height: 116px;
          line-height: 50px;
          &__field-top {
            @include box(328px, 50px);
            text-align: center;
            background-color: $facebook-color;
            position: relative;
            color: $white;
            i {
              float: left;
              position: absolute;
              top: 17px;
              left: 20px;
              color: $white;
            }
          }
          &__field-bottom {
            @include box(328px, 50px);
            text-align: center;
            margin-top: 16px;
            background-color: $white;
            border: 1px solid $light-gray;
            border-color: $gray;
            position: relative;
            i {
              float: left;
              position: absolute;
              top: 17px;
              left: 20px;
            }
          }
        }
      }
      &__bottom-contents {
        padding: 24px 64px 32px;
        width: 456px;
        background-color: $white;
        .email_text {
          @include box(328px, 48px);
          border-radius: 4px;
        }
        .password_text {
          @include box(328px, 48px);
          border-radius: 4px;
          margin-top: 24px;
        }
        &__login-btn {
          @include box(328px, 50px);
          text-align: center;
          background-color: $red;
          position: relative;
          margin-top: 24px;
          color: $white;
          p {
            float: left;
            position: absolute;
            top: 13px;
            left: 132px;
            color: $white;
          }
        }
        a {
          margin-top: 40px;
          display: inline-block;
          color: $light-blue;
          font-size: 15px;
        }
      }
    }
  }
}
