.sign-up {
  &__header {
    @include box(100%, 128px);
    padding: 0 auto;
    background-color: $light-gray;
    font-size: 22px;
  }

  &__contents {
    @include box("", 344px);
    background-color: $light-gray;
    &__frame {
      @include box(700px, 344px);
      background-color: $white;
      margin: 0 auto;
      font-size: 13px;

      &__top-contents {
        @include box("", 97px);
        &__registration {
          @include box(100%, 33px);
          text-align: center;
          background-color: $white;
          line-height: 97px;
          font-size: 22px;
          font-weight: bold;
        }
      }

      &__bottom-contents {
        @include box(688px, 182px);
        padding: 24px 16px 40px;
        border-top: 1px solid $light-gray;

        &__bottom-frame {
          @include box(343px, "");
          margin: 0 auto;
          height: 100%;
          line-height: 50px;

          &__field-top {
            @include box(343px, 50px);
            text-align: center;
            background-color: $red;
            border-radius: 4px;
            position: relative;
            color: $white;

            & i {
              float: left;
              position: absolute;
              top: 17px;
              left: 20px;
            }
          }

          &__field-middle {
            @include box(343px, 50px);
            text-align: center;
            margin-top: 16px;
            background-color: $facebook-color;
            border-radius: 4px;
            position: relative;
            color: $white;

            i {
              float: left;
              position: absolute;
              top: 17px;
              left: 20px;
              color: $white;
            }
          }

          &__field-bottom {
            @include box(343px, 50px);
            text-align: center;
            margin-top: 16px;
            background-color: $white;
            border-radius: 4px;
            border: 1px solid $light-gray;
            border-color: $gray;
            position: relative;
            i {
              float: left;
              position: absolute;
              top: 17px;
              left: 20px;
            }
          }
        }
      }
    }
  }
}
