.simple-footer {
  background-color: $light-gray;
  &__box {
    @include box(456px, 220px);
    margin: 0 auto;
    padding: 40px 0;
    &__link {
      display: flex;
      font-size: 12px;
      &__text {
        color: black;
        display: block;
        text-align: center;
        text-decoration: none;
        padding-left: 28px;
      }
    }
    &__logo-image {
      @include box(65px, 80px);
      margin: 0 auto;
      padding-top: 40px;
    }
    &__logo-text {
      text-align: center;
      padding-top: 15px;
      font-size: 10px;
    }
  }
}
