.sms-comfirmation {
  &__header {
    @include box(2000px, 128px);
    background-color: $light-gray5;
    font-size: 22px;
  }
  &__contents {
    @include box(100%, 600px);
    background-color: $light-gray;
    &__all-frame {
      @include box(700px, 347px);
      background-color: $white;
      margin: 0 auto;
      &__top-contents {
        height: 95px;
        h2 {
          @include box(100%, 33px);
          text-align: center;
          line-height: 95px;
          font-size: 20px;
          font-weight: bold;
        }
      }
      &__bottom-contents {
        @include box(700px, 347px);
        padding: 24px 16px 40px;
        border-top: 1px solid $light-gray;
        background-color: $white;
        &__bottom-frame {
          @include box(343px, 282px);
          background: $white;
          margin: auto;
          &__from {
            @include box(343px, 70px);
            h4 {
              font-size: 14px;
            }
            .telephone-number {
              @include box(100%, 48px);
              border-radius: 4px;
              margin-top: 8px;
            }
          }
          p {
            font-size: 14px;
            margin-top: 10px;
          }
          &__next-btn {
            @include box(343px, 50px);
            text-align: center;
            background-color: $red;
            position: relative;
            margin-top: 24px;
            color: $white;
            p {
              float: left;
              position: absolute;
              top: 5px;
              left: 120px;
              color: $white;
            }
          }
          p.sms-btn {
            margin-top: 8px;
          }
          .reason-box {
            @include box(100%, 14px);
            margin-top: 24px;
            display: flex;
            justify-content: flex-end;
            a.reason-box {
              top: 13px;
              left: 132px;
              text-decoration: none;
              font-size: 15px;
              text-align: right;
              color: $light-blue;
            }
          }
        }
      }
    }
  }
}
