$white: #fff;

$light-gray: #f5f5f5;
$light-gray2: #ededed;
$light-gray3: #eee;
$light-gray4: #ccc;
$light-gray5: #fafafa;
$light-gray6: #cfcecf;

$light-blue: #0099e8;

$gray: #888;
$dark-gray: #333;
$dark-gray2: #515151;

$facebook-color: #385185;
$twitter-color: #5d9dc9;
$pinterest-color: #aa262a;
